body{
 background-color: black;
 color: rgb(85, 101, 245);
}


h1{
 color: rgb(255, 47, 220);
}
h3{
 color: rgb(255, 47, 220)
}
#htme{
 color: rgb(85, 101, 245)
}


#css{
 color: rgb(255, 47, 220)
}


#js{
